<div class="edu-header">
<span class="edu-alma"><%= data.alma %></span>
    <span class="edu-duration"><%= data.duration %></span>
</div>
<div class="edu-class-data">
    <span class="edu-std"><%= data.std %></span>
    <span class="edu-score"><%= data.score %>%</span>
</div>